body {
    background: #EFF2F5;
}

.div-main {
    width: 100%;
    height: 100%;
    background: #EFF2F5;
    position: relative;
}

.header {
    width: 100%;
    height: 60px;
    background: #272727;
    line-height: 60px;
    clear: both;
}

.title {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.img-left {
    float: left;
}

.header-span {
    float: left;
}

.headerspan2,
.headerspan3,
.headerspan4,
.headerspan5,
.headerspan6 {
    height: 50px;
    display: inline-block;
    font-family: PingFangSC-Medium;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 51px;
    cursor: pointer;
}

.headerspan1 {
    height: 50px;
    display: inline-block;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #F9BE04;
    margin-left: 51px;
    border-bottom: 2px solid #F9BE04;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #363636;
}

.arrow:after,
.arrow:before {
    width: 0px;
    height: 0px;
    border: 6px solid transparent;
    border-left-color: #EFF2F5;
    position: absolute;
    content: "";
    top: 7px;
}

.arrow:before {
    border-left-color: #363636;
    position: absolute;
    left: 30px;
}

.jantou2 {
    display: inline-block;
    width: 56px;
    height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #363636;
    position: absolute;
    left: 50px;
    top: 2px;
}


/**页头搜索栏*/

.header-sousuo {
    width: 260px;
    height: 60px;
    position: relative;
    float: right;
}

.myinput1 {
    padding-right: 20px;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid #CECECE;
    height: 20px;
    background: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 50px;
}

.myselect1 {
    border: 1px solid white;
    border-right: none;
    height: 24px;
    position: absolute;
    top: 20px;
}

.header-sousuoimg {
    font-family: material;
    font-size: 20px;
    color: #707070;
    position: absolute;
    top: 20px;
    left: 200px;
}

.notice {
    width: 280px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    left: 1090px;
    top: 470px;
}

.btn {
    width: 92px;
    height: 32px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    background: #206698;
    border-radius: 5px;
    border: 1px solid #206698;
    margin-top: 15px;
}

.notice li {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #363636;
    margin-bottom: 12px;
}

.notice1 {
    width: 280px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    left: 1090px;
    top: 1000px;
}

.btn1 {
    width: 92px;
    height: 32px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    background: #206698;
    border-radius: 5px;
    border: 1px solid #206698;
    margin-top: 15px;
}

.notice1 li {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #363636;
    margin-bottom: 12px;
}


/**页脚*/

.footer {
    width: 100%;
    height: 190px;
    background: #272727;
    margin-top: 86px;
}

.footer-link span {
    display: inline-block;
    opacity: 0.5;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.footer-link {
    padding-top: 38px;
    margin-left: 160px;
}

.myinputone {
    padding-right: 20px;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid #CECECE;
    height: 20px;
    position: absolute;
    left: 60px;
    background: #FFFFFF;
}

.myselectone {
    border: 1px solid white;
    border-right: none;
    height: 24px;
    position: absolute;
    left: 10px;
}

.header-sousuoone {
    width: 200px;
    height: 60px;
    position: relative;
    float: right;
    margin-right: 260px;
}

.header-sousuoimgone {
    position: absolute;
    top: 2px;
    left: 220px;
    font-family: material;
    font-size: 20px;
    color: #707070;
}

.message {
    width: 1121px;
    height: 74px;
    border-top: 1px solid #FFFFFF;
    opacity: 0.5;
    margin-left: 160px;
    margin-top: 55px;
}

.message span {
    display: inline-block;
    opacity: 0.5;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 25px;
}


/*正文*/

.active {
    background: url('../img/icon_radio_button_unchecked.png') no-repeat 0 0;
}

.changtai {
    background: url('../img/icon_radio_button_unchecked.png') no-repeat 0 0;
}

div.showbox {
    position: relative;
    width: 430px;
    height: 800px;
    overflow: hidden;
}

div.imgbox {
    position: absolute;
    height: 100%;
    left: 0;
}

div.imgbox img {
    height: 100%;
    position: relative;
    float: left;
}

div.showbox div.pre {
    position: relative;
    float: left;
    width: 60px;
    height: 100%;
}

div.showbox div.pre span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 60px;
    background: url('../img/icon_radio_button_unchecked.png') no-repeat 0 0;
    cursor: pointer;
    cursor: hand;
}

div.showbox div.aft {
    position: relative;
    float: right;
    width: 60px;
    height: 100%;
}

div.showbox div.aft span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 40px;
    height: 60px;
    background: url('../img/icon_radio_button_unchecked.png') no-repeat 0 0;
    cursor: pointer;
    cursor: hand;
}

div.showbox ul.odot {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 15px;
}

div.showbox ul.odot ul.lis {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 30px;
}

div.showbox ul.odot ul.lis li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    cursor: pointer;
    cursor: hand;
}

.showbox {
    margin-left: 160px;
    margin-top: 20px;
}


/*右边图文*/

.wordspit {
    width: 400px;
    height: 370px;
    position: relative;
    float: left;
    left: 600px;
    top: -350px;
}

.wordspit1 {
    width: 190px;
    height: 150px;
    position: absolute;
    top: 5px;
}

.wordspit1 img {
    width: 190px;
    height: 150px;
}

.wordspit1 span {
    width: 190px;
    height: 60px;
    position: absolute;
    top: 120px;
    opacity: 0.6;
    background: #000000;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

.wordspit2 {
    width: 190px;
    height: 150px;
    position: absolute;
    left: 200px;
    top: 5px;
}

.wordspit2 img {
    width: 190px;
    height: 150px;
}

.wordspit2 span {
    width: 190px;
    height: 60px;
    position: absolute;
    top: 120px;
    opacity: 0.6;
    background: #000000;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

.wordspit3 {
    width: 190px;
    height: 150px;
    position: absolute;
    top: 170px;
}

.wordspit3 img {
    width: 190px;
    height: 150px;
}

.wordspit3 span {
    width: 190px;
    height: 60px;
    position: absolute;
    top: 120px;
    opacity: 0.6;
    background: #000000;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

.wordspit4 {
    width: 190px;
    height: 150px;
    position: absolute;
    top: 170px;
    left: 200px;
}

.wordspit4 img {
    width: 190px;
    height: 150px;
}

.wordspit4 span {
    width: 190px;
    height: 60px;
    position: absolute;
    top: 120px;
    opacity: 0.6;
    background: #000000;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

.my-div {
    width: 190px;
    height: 198px;
    margin: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    background: #EFF2F5;
    cursor: pointer;
}


/*效果二：放大 修改scale(放大的值)*/

.my-div {
    transition: All 1s ease-in-out;
    /*控制时间*/
    -webkit-transition: All 1s ease-in-out;
    -moz-transition: All 1s ease-in-out;
    -o-transition: All 1s ease-in-out;
}

.my-div:hover .my-div1 {
    transform: scale(1.2);
    /*2d缩放转换*/
    -webkit-transform: scale(1.2);
    /* Safari 和 Chrome */
    -moz-transform: scale(1.2);
    /* Firefox */
    -o-transform: scale(1.2);
    /* Opera */
    -ms-transform: scale(1.2);
    /* IE 9 */
    opacity: 1;
}

.my-div {
    position: relative;
    float: left;
    margin-right: 5px;
}

.my-img {
    width: 190px;
    height: 156px;
}

.my-span {
    width: 160px;
    height: 40px;
    position: absolute;
    top: 166px;
    font-size: 14px;
}


/*内嵌的div*/

.my-div1 {
    width: 216px;
    height: 230px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13);
    position: relative;
    opacity: 0;
    position: absolute;
    top: -20px;
    left: -20px;
    transition: All 0.4s ease-in-out;
    /*控制时间*/
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    cursor: pointer;
}

.my-img1 {
    width: 190px;
    height: 156px;
    margin: 13px;
}

.my-span1 {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #363636;
    line-height: 21px;
    position: absolute;
    top: 177px;
    left: 12px;
}

.tupicture {
    width: 850px;
    height: 600px;
    position: relative;
    margin-left: 160px;
}

.one {
    width: 1200px;
    height: 260px;
    position: absolute;
    left: -20px;
}

.two {
    width: 1000px;
    height: 260px;
    position: absolute;
    top: 280px;
    left: -20px;
}

.daohang {
    width: 820px;
    height: 400px;
    margin-left: 160px;
}

.daohangspan {
    width: 820px;
    height: 40px;
}


/* .daohang span {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #363636;
    margin-right: 28px;
} */

.daohangspan2,
.daohangspan3,
.daohangspan4,
.daohangspan5,
.daohangspan6,
.daohangspan7,
.daohangspan8 {
    display: inline-block;
    color: #363636;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.daohangspan1 {
    display: inline-block;
    color: #363636;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.daohangli li {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #363636;
    margin-bottom: 16.5px;
    margin-left: -50px;
}

.daohang a {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #206698;
    cursor: pointer;
}


/*热门标签*/

.biaoqian {
    width: 280px;
    height: 325px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 80px;
    left: 1090px;
}

.remenbiaoqian {
    background: #206698;
    border: 1px solid #206698;
    border-radius: 5px;
    width: 92px;
    height: 32px;
    margin-top: 15px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.biaoqian span {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #363636;
    line-height: 25px;
    margin-top: 22px;
}

.footerbox {
    width: 1300px;
}

.biaoqian p {
    width: 240px;
    height: 500px;
    margin-left: 20px;
    margin-right: 30px;
}